.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0d0d0d;
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 0;
}

.header li {
  margin: 0 20px;
}

.header a {
  color: #eee;
  font-weight: 500;
  transition: color 0.3s;
}

.header a:hover {
  color: #00ADB5;
}
